openapi: 3.0.0
info:
  title: 신분증 OCR
  version: '1.0'
  description: |-
    **서비스 소개**

    컴트루테크놀로지의 인공지능 OCR 신경망을 활용한 신분증 OCR 서비스 입니다.<br>
    국내에서 사용되는 신분증 4종 (주민등록증, 운전면허증, 외국인등록증, 여권)에 대한 개인정보 OCR을 수행합니다. 

    **서비스 특징**

    자체개발 OCR 신경망을 적용하여 OCR이 필요한 영역에 대해 정확한 인식을 수행합니다.<br>
    신분증 진위확인 서비스와 연계하여 사용할 수 있습니다.\
    \
    \
    \
    \
    [Contact](mailto:ask@comtrue.com) | [cometrue.ai AI API](https://cometrue.ai) | [Terms of Service](https://cometrue.ai/index.php/ai-api-terms-of-service/)
servers:
  - description: ''
    url: 'https://api.comtrue.com'
paths:
  /api/v1/id/ocr:
    post:
      summary: 신분증 OCR
      operationId: post-idocr
      responses:
        '200':
          description: |-
            OK
            정상응답
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  quadrilateral:
                    type: boolean
                    description: 신분증에 해당하는 사각형 검출여부
                  result:
                    type: object
                    description: 검출한 정보
                    required:
                      - title
                    properties:
                      date:
                        type: string
                        minLength: 1
                        description: 주민등록증 발급일자
                      name:
                        type: string
                        minLength: 1
                        description: 성명
                      number:
                        type: string
                        minLength: 1
                        description: |-
                          주민등록증 - 주민등록번호<br>
                          운전면허증 - 운전면허번호<br>
                          한국여권 - 여권번호<br>
                          외국인등록증 - 외국인등록번호
                      title:
                        type: string
                        description: 신분증 종류
                        enum:
                          - 주민등록증
                          - 자동차운전면허증
                          - 외국인등록증
                          - 여권
                          - passport
                      code:
                        type: string
                        description: 운전면허증 식별코드
                      mrz1:
                        type: string
                        description: 여권 - 기계판독영역
                      mrz2:
                        type: string
                        description: 여권 - 기계판독영역
                      birth_date:
                        type: string
                        description: |-
                          운전면허증 생년월일
                          *Example:* `19700101`

                          한국여권 생년월일
                          ex) `01JAN1970`
                        example: '20211029'
                      issue_date:
                        type: string
                        description: |-
                          여권 발급일
                          ex) `01JAN1970`
                      expiry_date:
                        type: string
                        description: |-
                          여권 기간 만료일
                          ex) `01JAN1970`
                required:
                  - quadrilateral
                  - result
              examples:
                주민등록증:
                  value:
                    quadrilateral: true
                    result:
                      date: '20191205'
                      name: 홍길동
                      number: 123456-1234567
                      title: 주민등록증
                운전면허증:
                  value:
                    quadrilateral: true
                    result:
                      birth_date: '19660220'
                      code: 7wggen
                      name: 홍길동
                      number: 11-90-041222-33
                      title: 자동차운전면허증
                여권:
                  value:
                    quadrilateral: true
                    result:
                      title: passport
                      mrz1: PDKORHONG<<KIL<DONG<<<<<<<<<<<<<<<<<<<<<<<<<
                      mrz2: D123456785KOR7501012M13031001234567V15788666
                한국여권:
                  value:
                    quadrilateral: true
                    result:
                      name: 홍길동
                      number: '012345678'
                      title: 여권
                      mrz1: PDKORHONG<<KIL<DONG<<<<<<<<<<<<<<<<<<<<<<<<<
                      mrz2: D123456785KOR7501012M13031001234567V15788666
                      birth_date: 01JAN1975
                      issue_date: 10MAR2008
                      expiry_date: 10MAR2013
                외국인등록증:
                  value:
                    quadrilateral: true
                    result:
                      date: '20110101'
                      name: HONG KIL DONG
                      number: 123456-1234567
                      title: 외국인등록증
        '400':
          $ref: '#/components/responses/400_id-ocr'
        '401':
          description: |-
            Unauthorized

            허가되지 않은 사용자의 접근
        '409':
          $ref: '#/components/responses/409'
        '500':
          description: |-
            Internal Server Error

            서버가 유지보수 중이거나 응답할 수 없는 상태
      description: |-
        신분증 인식 후 정보를 추출하여 제공합니다.

        **주의사항**

        - 신분증 이미지는 회전되지 않고, 패딩이 없어야 합니다.
        - 지원하는 신분증은 한국인 주민등록증, 한국인 운전면허증, 한국인 여권, 외국인등록증, 여권입니다.
      parameters:
        - schema:
            type: string
            example: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2Njk3ODI4MzgsImxpY2Vuc2UiOiJiODU1Yzc....
          in: header
          name: Authorization
          description: Bearer <token_string>
          required: true
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                id_type:
                  type: string
                  description: |-
                    신분증 종류

                    주민등록번호-`jumin`, 운전면허증-`driver`, 한국여권-`kpassport`, 외국인등록증-`alien`, 여권-`passport`
                  enum:
                    - jumin
                    - driver
                    - kpassport
                    - alien
                    - passport
                image:
                  type: string
                  minLength: 1
                  description: |-
                    이미지를 base64로 인코딩 한 스트링

                    지원포맷: jpg(jpeg), png, tif(tiff), bmp
              required:
                - id_type
                - image
            examples:
              Base64 Example:
                value:
                  id_type: jumin
                  image: iVBORw0KGgoAAAANSUhEUgAACbEAAA2zCAYAAADce6KLAAAA....
              URL Example:
                value:
                  id_type: jumin
                  image: 'https://www.cometrue.ai/data/license.jpg'
                  is_url: true
        description: ''
      x-internal: false
    parameters: []
  /api/v1/jumin/ocr:
    post:
      summary: 주민등록증 OCR
      operationId: post-idocrjumin
      responses:
        '200':
          description: |-
            OK

            정상응답
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  quadrilateral:
                    type: boolean
                    description: 신분증에 해당하는 사각형 검출여부
                  result:
                    type: object
                    description: 검출한 정보
                    required:
                      - date
                      - name
                      - number
                      - title
                    properties:
                      date:
                        type: string
                        minLength: 1
                        description: |-
                          주민등록증 발급일자

                          ex) `19700101`
                      name:
                        type: string
                        minLength: 1
                        description: 성명
                      number:
                        type: string
                        minLength: 1
                        description: 주민등록번호
                      title:
                        type: string
                        description: 신분증 종류
                        enum:
                          - 주민등록증
                required:
                  - quadrilateral
                  - result
              examples:
                주민등록증:
                  value:
                    quadrilateral: true
                    result:
                      date: '20191205'
                      name: 홍길동
                      number: 123456-1234567
                      title: 주민등록증
        '400':
          $ref: '#/components/responses/400'
        '401':
          description: |-
            Unauthorized

            허가되지 않은 사용자의 접근
        '409':
          $ref: '#/components/responses/409'
        '500':
          description: |-
            Internal Server Error

            서버가 유지보수 중이거나 응답할 수 없는 상태
      description: |
        주민등록증을 인식하여 이름, 주민등록번호, 발급일자를 제공합니다.

        **주의사항**
        - 신분증 이미지는 회전되지 않고, 패딩이 없어야 합니다.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                image:
                  type: string
                  minLength: 1
                  description: |-
                    이미지를 base64로 인코딩 한 스트링

                    지원포맷: jpg(jpeg), png, tif(tiff), bmp
              required:
                - image
            examples:
              Base64 Example:
                value:
                  image: iVBORw0KGgoAAAANSUhEUgAACbEAAA2zCAYAAADce6KLAAAA....
              URL Example:
                value:
                  id_type: jumin
                  image: 'https://www.cometrue.ai/data/license.jpg'
                  is_url: true
        description: ''
      security: []
      x-internal: false
    parameters: []
  /api/v1/driver/ocr:
    post:
      summary: 운전면허증 OCR
      operationId: post-idocrdriver
      responses:
        '200':
          description: |-
            OK

            정상응답
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    quadrilateral: true
                    result:
                      birth_date: '19660220'
                      code: 7wggen
                      name: 홍길동
                      number: 11-90-041222-33
                      title: 자동차운전면허증
                properties:
                  quadrilateral:
                    type: boolean
                    description: 신분증에 해당하는 사각형 검출여부
                  result:
                    type: object
                    required:
                      - birth_date
                      - code
                      - name
                      - number
                      - title
                    description: 검출한 정보
                    properties:
                      birth_date:
                        type: string
                        minLength: 1
                        description: |-
                          생년월일

                          ex) `19700101`
                      code:
                        type: string
                        minLength: 1
                        description: 암호일련번호
                      name:
                        type: string
                        minLength: 1
                        description: 성명
                      number:
                        type: string
                        minLength: 1
                        description: 면허번호
                      title:
                        type: string
                        description: 신분증 종류
                        enum:
                          - 자동차운전면허증
                required:
                  - quadrilateral
                  - result
              examples:
                운전면허증:
                  value:
                    quadrilateral: true
                    result:
                      birth_date: '19660220'
                      code: 7wggen
                      name: 홍길동
                      number: 11-90-041222-33
                      title: 자동차운전면허증
        '400':
          $ref: '#/components/responses/400'
        '401':
          description: |-
            Unauthorized

            허가되지 않은 사용자의 접근
        '409':
          $ref: '#/components/responses/409'
        '500':
          description: |-
            Internal Server Error

            서버가 유지보수 중이거나 응답할 수 없는 상태
      description: |-
        한국인 운전면허증을 인식하여 운전면허번호, 이름, 생년월일, 암호일련번호를 제공합니다.

        **주의사항**
        - 신분증 이미지는 회전되지 않고, 패딩이 없어야 합니다.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                image:
                  type: string
                  minLength: 1
                  description: |-
                    이미지를 base64로 인코딩 한 스트링

                    지원포맷: jpg(jpeg), png, tif(tiff), bmp
              required:
                - image
            examples:
              Base64 Example:
                value:
                  image: iVBORw0KGgoAAAANSUhEUgAACbEAAA2zCAYAAADce6KLAAAA....
              URL Example:
                value:
                  id_type: jumin
                  image: 'https://www.cometrue.ai/data/license.jpg'
                  is_url: true
        description: ''
      security: []
      x-internal: false
    parameters: []
  /api/v1/alien/ocr:
    post:
      summary: 외국인등록증 OCR
      operationId: post-idocralien
      responses:
        '200':
          description: |-
            OK

            정상응답
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  quadrilateral:
                    type: boolean
                    description: 신분증에 해당하는 사각형 검출여부
                  result:
                    type: object
                    description: 검출한 정보
                    required:
                      - date
                      - name
                      - number
                      - title
                    properties:
                      date:
                        type: string
                        minLength: 1
                        description: |-
                          외국인등록증 발급일자

                          ex) `19700101`
                      name:
                        type: string
                        minLength: 1
                        description: 성명
                      number:
                        type: string
                        minLength: 1
                        description: 외국인등록번호
                      title:
                        type: string
                        description: 신분증 종류
                        enum:
                          - 외국인등록증
                required:
                  - quadrilateral
                  - result
              examples:
                외국인등록증:
                  value:
                    quadrilateral: true
                    result:
                      date: '20110101'
                      name: HONG KIL DONG
                      number: 123456-1234567
                      title: 외국인등록증
        '400':
          $ref: '#/components/responses/400'
        '401':
          description: |-
            Unauthorized

            허가되지 않은 사용자의 접근
        '409':
          $ref: '#/components/responses/409'
        '500':
          description: |-
            Internal Server Error

            서버가 유지보수 중이거나 응답할 수 없는 상태
      description: |-
        외국인등록증을 인식하여 이름, 외국인등록번호, 발급일자를 추출하여 제공합니다.

        **주의사항**
        - 신분증 이미지는 회전되지 않고, 패딩이 없어야 합니다.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                image:
                  type: string
                  minLength: 1
                  description: |-
                    이미지를 base64로 인코딩 한 스트링

                    지원포맷: jpg(jpeg), png, tif(tiff), bmp
              required:
                - image
            examples:
              Base64 Example:
                value:
                  image: iVBORw0KGgoAAAANSUhEUgAACbEAAA2zCAYAAADce6KLAAAA....
              URL Example:
                value:
                  id_type: jumin
                  image: 'https://www.cometrue.ai/data/license.jpg'
                  is_url: true
        description: ''
      security: []
      x-internal: false
    parameters: []
  /api/v1/passport/ocr:
    post:
      summary: 여권 OCR
      operationId: post-idocrpassport
      responses:
        '200':
          description: |-
            OK

            정상응답
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  quadrilateral:
                    type: boolean
                    description: 신분증에 해당하는 사각형 검출여부
                  result:
                    type: object
                    description: 검출한 정보
                    required:
                      - title
                      - mrz1
                      - mrz2
                    properties:
                      title:
                        type: string
                        description: 신분증 종류
                        enum:
                          - passport
                      mrz1:
                        type: string
                        description: 기계판독영역
                      mrz2:
                        type: string
                        description: 기계판독영역
                required:
                  - quadrilateral
                  - result
              examples:
                여권:
                  value:
                    quadrilateral: true
                    result:
                      title: passport
                      mrz1: PDKORHONG<<KIL<DONG<<<<<<<<<<<<<<<<<<<<<<<<<
                      mrz2: D123456785KOR7501012M13031001234567V15788666
        '400':
          $ref: '#/components/responses/400'
        '401':
          description: |-
            Unauthorized

            허가되지 않은 사용자의 접근
        '409':
          $ref: '#/components/responses/409-passport'
        '500':
          description: |-
            Internal Server Error

            서버가 유지보수 중이거나 응답할 수 없는 상태
      description: |-
        여권을 인식 하여 기계판독영역(MRZ)을 제공합니다.

        **주의사항**
        - 신분증 이미지는 회전되지 않고, 패딩이 없어야 합니다.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                image:
                  type: string
                  minLength: 1
                  description: |-
                    이미지를 base64로 인코딩 한 스트링

                    지원포맷: jpg(jpeg), png, tif(tiff), bmp
              required:
                - image
            examples:
              Base64 Example:
                value:
                  image: iVBORw0KGgoAAAANSUhEUgAACbEAAA2zCAYAAADce6KLAAAA....
              URL Example:
                value:
                  id_type: jumin
                  image: 'https://www.cometrue.ai/data/license.jpg'
                  is_url: true
        description: ''
      security: []
      x-internal: false
    parameters: []
  /api/v1/kpassport/ocr:
    post:
      summary: 한국여권 OCR
      operationId: post-idocrkpassport
      responses:
        '200':
          description: |-
            OK

            정상응답
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  quadrilateral:
                    type: boolean
                    description: 신분증에 해당하는 사각형 검출여부
                  result:
                    type: object
                    description: 검출한 정보
                    required:
                      - name
                      - number
                      - title
                    properties:
                      name:
                        type: string
                        minLength: 1
                        description: 성명
                      number:
                        type: string
                        minLength: 1
                        description: 여권번호
                      title:
                        type: string
                        description: 신분증 종류
                        enum:
                          - 여권
                      mrz1:
                        type: string
                        description: 기계판독영역
                      mrz2:
                        type: string
                        description: 기계판독영역
                      birth_date:
                        type: string
                        description: |-
                          생년월일

                          ex) `01JAN1970`
                        example: 01JAN1970
                      issue_date:
                        type: string
                        description: |-
                          여권 발급일

                          ex) `01JAN1970`
                        example: 01JAN1970
                      expiry_date:
                        type: string
                        description: |-
                          여권 기간 만료일

                          ex) `01JAN1970`
                        example: 01JAN1970
                required:
                  - quadrilateral
                  - result
              examples:
                한국여권:
                  value:
                    quadrilateral: true
                    result:
                      name: 홍길동
                      number: D12345678
                      title: 여권
                      mrz1: PDKORHONG<<KIL<DONG<<<<<<<<<<<<<<<<<<<<<<<<<
                      mrz2: D123456785KOR7501012M13031001234567V15788666
                      birth_date: 01JAN1975
                      issue_date: 10MAR2008
                      expiry_date: 10MAR2013
        '400':
          $ref: '#/components/responses/400'
        '401':
          description: |-
            Unauthorized

            허가되지 않은 사용자의 접근
        '409':
          $ref: '#/components/responses/409-passport'
        '500':
          description: |-
            Internal Server Error

            서버가 유지보수 중이거나 응답할 수 없는 상태
      description: |-
        한국여권을 인식 하여 한글 이름, 주민등록번호, 여권번호, 기계판독영역(MRZ), 생년월일, 발급일자, 기간만료일을 제공합니다.

        **주의사항**
        - 신분증 이미지는 회전되지 않고, 패딩이 없어야 합니다.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                image:
                  type: string
                  minLength: 1
                  description: |-
                    이미지를 base64로 인코딩 한 스트링

                    지원포맷: jpg(jpeg), png, tif(tiff), bmp
              required:
                - image
            examples:
              Base64 Example:
                value:
                  image: iVBORw0KGgoAAAANSUhEUgAACbEAAA2zCAYAAADce6KLAAAA....
              URL Example:
                value:
                  id_type: jumin
                  image: 'https://www.cometrue.ai/data/license.jpg'
                  is_url: true
        description: ''
      security: []
      x-internal: false
    parameters: []
components:
  schemas: {}
  securitySchemes:
    'Authorization: <token_string>':
      type: http
      scheme: bearer
  responses:
    '400':
      description: |
        Bad Request

        사용자가 키를 잘못 입력하였거나, 값에 문제가 있을때

        <details markdown="1">
        <summary>에러메세지</summary>
        "image: not provided"<br>
        "image base64 decode error"<br>
        "Image cannot be read"<br>
        "Image is too small to process"<br>
        "Image is empty"<br>
        "request format or type is not valid"<br>
        </details>
      content:
        application/json:
          schema:
            description: ''
            type: object
            properties:
              message:
                type: string
            required:
              - message
          examples:
            image not given:
              value:
                message: 'image: not provided'
            base64 decoding of the image failed:
              value:
                message: image base64 decode error
            Image not readable:
              value:
                message: Image cannot be read
            Query image is too small to process:
              value:
                message: Image is too small to process
            request format or type is not valid:
              value:
                message: request format or type is not valid
            image empty:
              value:
                message: Image is empty
    '409':
      description: |-
        Conflict

        서버에서의 처리 중 에러

        <details markdown="1">
        <summary>에러메세지</summary>
        "Onnx runtime error: 100"<br>
        "Std Exception: 101"<br>
        "OpenCV error: 100"<br>
        "text detection error: 201": cannot find text<br>
        "text detection error: 202": Vertex detection error<br>
        "text detection error: 203": cannot find square<br>
        "text detection error: 204": not enough to be square<br>
        "text detection error: 207": not enough contour<br>
        "text detection error: 208": not enough group<br>
        "object detection error: 209": cannot find object<br>
        "Json decode error"
        </details>
      content:
        application/json:
          schema:
            description: ''
            type: object
            properties:
              message:
                type: string
            required:
              - message
          examples:
            Vertex detection error:
              value:
                message: 'text detection error: 202'
            Text detection error:
              value:
                message: text detection error
            //OCR error:
              value:
                message: text recognition error
            //Matching error:
              value:
                message: matching error
            onnxexception:
              value:
                message: 'Onnx runtime error: 100'
            stdexception:
              value:
                message: 'Std Exception: 101'
            cvexception:
              value:
                message: 'OpenCV error: 100'
            cannot find text:
              value:
                message: 'text detection error: 201'
            cannot find square:
              value:
                message: 'text detection error: 203'
            not enough to be square:
              value:
                message: 'text detection error: 204'
            not enough contour:
              value:
                message: 'text detection error: 207'
            not enough group:
              value:
                message: 'text detection error: 208'
            cannot find object:
              value:
                message: 'object detection error: 209'
            json decode error:
              value:
                message: Json decode error
    ErrorResponse:
      description: 신분증 인식 및 OCR에 대한 Error Message
      content:
        application/json:
          schema:
            description: ''
            type: object
            properties:
              message:
                type: string
            required:
              - message
    400_id-ocr:
      description: |
        Bad Request

        사용자가 키를 잘못 입력하였거나, 값에 문제가 있을때

        <details markdown="1">
        <summary>에러메세지</summary>
        "id_type not provided"<br>
        "image: not provided"<br>
        "image base64 decode error"<br>
        "Unsupported ID type"<br>
        "Image cannot be read"<br>
        "Image is too small to process"<br>
        "id_type: is not correct."<br>
        "Image is empty"<br>
        "request format or type is not valid"<br>
        </details>
      content:
        application/json:
          schema:
            description: ''
            type: object
            properties:
              message:
                type: string
            required:
              - message
          examples:
            id_type not given:
              value:
                message: id_type not provided
            image not given:
              value:
                message: 'image: not provided'
            base64 decoding of the image failed:
              value:
                message: image base64 decode error
            Unsupported ID:
              value:
                message: Unsupported ID type
            Image not readable:
              value:
                message: Image cannot be read
            Query image is too small to process:
              value:
                message: Image is too small to process
            id_type not correct:
              value:
                message: 'id_type: is not correct.'
            request format or type is not valid:
              value:
                message: request format or type is not valid
            image empty:
              value:
                message: Image is empty
    409-passport:
      description: |-
        Conflict

        서버에서의 처리 중 에러

        <details markdown="1">
        <summary>에러메세지</summary>
        "Onnx runtime error: 100"<br>
        "Std Exception: 101"<br>
        "OpenCV error: 100"<br>
        "text detection error: 201": cannot find text<br>
        "text detection error: 202": Vertex detection error<br>
        "text detection error: 203": cannot find square<br>
        "text detection error: 204": not enough to be square<br>
        "text detection error: 205": cannot find MRZ<br>
        "text detection error: 207": not enough contour<br>
        "text detection error: 208": not enough group<br>
        "object detection error: 209": cannot find object<br>
        "Json decode error"
        </details>
      content:
        application/json:
          schema:
            description: ''
            type: object
            properties:
              message:
                type: string
            required:
              - message
          examples:
            Vertex detection error:
              value:
                message: 'text detection error: 202'
            Text detection error:
              value:
                message: text detection error
            //OCR error:
              value:
                message: text recognition error
            //Matching error:
              value:
                message: matching error
            onnxexception:
              value:
                message: 'Onnx runtime error: 100'
            stdexception:
              value:
                message: 'Std Exception: 101'
            cvexception:
              value:
                message: 'OpenCV error: 100'
            cannot find text:
              value:
                message: 'text detection error: 201'
            cannot find square:
              value:
                message: 'text detection error: 203'
            not enough to be square:
              value:
                message: 'text detection error: 204'
            not enough contour:
              value:
                message: 'text detection error: 207'
            not enough group:
              value:
                message: 'text detection error: 208'
            cannot find object:
              value:
                message: 'object detection error: 209'
            json decode error:
              value:
                message: Json decode error
            cannot find MRZ:
              value:
                message: 'text detection error: 205'
