openapi: 3.0.0
info:
  title: Identifcation
  version: '1.0'
  description: 신분증 진위여부에 필요한 정보들을 신분증 이미지에서 검출하여 주는 API입니다.
  contact:
    email: info@cometrue.ai
    url: 'https://cometrue.ai'
    name: 인공지능사업부
  termsOfService: 서비스약관
servers:
  - url: 'https://api.cometrue.ai/v1/identifcation'
    description: Cometrue
paths:
  /id-ocr:
    post:
      summary: Identification Card OCR
      operationId: post-idocr
      responses:
        '200':
          description: |-
            OK

            정상응답
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  quadrilateral:
                    type: boolean
                    description: 신분증에 해당하는 사각형이 검출되었는지 확인
                  result:
                    type: object
                    description: ''
                    required:
                      - name
                      - number
                      - title
                    properties:
                      date:
                        type: string
                        minLength: 1
                        description: 주민등록증 발급일자
                      name:
                        type: string
                        minLength: 1
                        description: 성명
                      number:
                        type: string
                        minLength: 1
                        description: |-
                          주민등록증 - 주민등록번호

                          운전면허증 - 운전면허번호

                          여권 -

                          한국여권 - 주민등록번호 뒷자리

                          외국인등록증 - 외국인등록번호
                      title:
                        type: string
                        minLength: 1
                        description: 신분증 종류
                      code:
                        type: string
                        description: 운전면허증 식별코드
                      mrz1:
                        type: string
                        description: 여권 - 기계판독영역
                      mrz2:
                        type: string
                        description: 여권 - 기계판독영역
                      birth_date:
                        type: string
                        description: 운전면허증 생년월일
                      issue_date:
                        type: string
                        description: 여권 발급일
                      expiry_date:
                        type: string
                        description: 여권 기간만료일
                required:
                  - quadrilateral
                  - result
              examples:
                주민등록증:
                  value:
                    quadrilateral: true
                    result:
                      date: '20191205'
                      name: 홍길동
                      number: 610220-1250511
                      title: 주민등록증
                운전면허증:
                  value:
                    quadrilateral: true
                    result:
                      birth_date: '19660220'
                      code: 7wggen
                      name: 홍길동
                      number: 11-90-041222-33
                      title: 자동차운전면허증
                여권:
                  value:
                    quadrilateral: true
                    result:
                      name: ''
                      number: ''
                      title: passport
                      mrz1: PDKORHONG<<KIL<DONG<<<<<<<<<<<<<<<<<<<<<<<<<
                      mrz2: D123456785KOR7501012M13031001234567V15788666
                한국여권:
                  value:
                    quadrilateral: true
                    result:
                      name: 홍길동
                      number: '012345678'
                      title: 여권
                      mrz1: PDKORHONG<<KIL<DONG<<<<<<<<<<<<<<<<<<<<<<<<<
                      mrz2: D123456785KOR7501012M13031001234567V15788666
                      birth_date: 01JAN1975
                      issue_date: 10MAR2008
                      expiry_date: 10MAR2013
                외국인등록증:
                  value:
                    quadrilateral: true
                    result:
                      date: '20110101'
                      name: HONG KIL DONG
                      number: 123456-1234567
                      title: 외국인등록증
        '400':
          description: |-
            Bad Request

            사용자가 키를 잘못 입력하였거나, 값에 문제가 있을때
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  message:
                    type: string
                    minLength: 1
                required:
                  - message
              examples:
                id_type not given:
                  value:
                    message: id_type not provided
                image not given:
                  value:
                    message: 'image: not provided'
                base64 decoding of the image failed:
                  value:
                    message: image base64 decode error
                Unsupported ID:
                  value:
                    message: Unsupported ID type
                Image not readable:
                  value:
                    message: Image cannot be read
                Query image is too small to process:
                  value:
                    message: Image is too small to process
                id_type not correct:
                  value:
                    message: 'id_type: is not correct.'
                image property does not match:
                  value:
                    message: 'image: property in this field does not match. base64 or url.'
                image empty:
                  value:
                    message: Image is empty
            application/xml:
              schema:
                type: object
                properties: {}
        '401':
          description: |-
            Unauthorized

            허가되지 않은 사용자의 접근
        '409':
          description: |-
            Conflict

            서버에서의 처리 중 에러
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  message:
                    type: string
                required:
                  - message
              examples:
                Vertex detection error:
                  value:
                    message: 'text detection error: 202'
                Text detection error:
                  value:
                    message: text detection error
                //OCR error:
                  value:
                    message: text recognition error
                //Matching error:
                  value:
                    message: matching error
                onnxexception:
                  value:
                    message: 'Onnx runtime error: 100'
                stdexception:
                  value:
                    message: 'Std Exception: 101'
                cvexception:
                  value:
                    message: 'OpenCV error: 100'
                example-1:
                  value:
                    message: string
                cannot find text:
                  value:
                    message: 'text detection error: 201'
                cannot find squre:
                  value:
                    message: 'text detection error: 203'
                not enough to be square:
                  value:
                    message: 'text detection error: 204'
                not enough contour:
                  value:
                    message: 'text detection error: 207'
                not enough group:
                  value:
                    message: 'text detection error: 208'
                cannot find object:
                  value:
                    message: 'object detection error: 209'
                json decode error:
                  value:
                    message: Json decode error
          headers: {}
        '500':
          description: |-
            Internal Server Error

            서버가 유지보수 중이거나 응답할 수 없는 상태
      description: |-
        신분증 인식 후 텍스트 검출하여 돌려줍니다.

        지원하는 신분증은 한국인 주민등록증, 한국인 운전면허증, 한국인 여권, 외국인등록증, 여권입니다.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                id_type:
                  type: string
                  minLength: 1
                  description: 신분증 종류
                  pattern: jumin|driver|kpassport|alien|passport
                image:
                  type: string
                  minLength: 1
                  description: base64로 인코딩 한 스트링 or http URL
                is_url:
                  type: boolean
                  description: image속성이 url일때 true
              required:
                - id_type
                - image
            examples:
              Base64 Example:
                value:
                  id_type: jumin
                  image: iVBORw0KGgoAAAANSUhEUgAACbEAAA2zCAYAAADce6KLAAAA....
              URL Example:
                value:
                  id_type: jumin
                  image: 'https://www.cometrue.ai/data/license.jpg'
                  is_url: true
        description: ''
      security:
        - api_key: []
      x-internal: false
    parameters: []
  /id-ocr-jumin:
    post:
      summary: Identification Card(jumin) OCR
      operationId: post-idocrjumin
      responses:
        '200':
          description: |-
            OK

            정상응답
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  quadrilateral:
                    type: boolean
                    description: 신분증에 해당하는 사각형이 검출되었는지 확인
                  result:
                    type: object
                    description: 검출한 정보
                    required:
                      - date
                      - name
                      - number
                      - title
                    properties:
                      date:
                        type: string
                        minLength: 1
                        description: |-
                          주민등록증 발급일자

                          YYYYMMDD
                        format: date
                      name:
                        type: string
                        minLength: 1
                        description: 성명
                      number:
                        type: string
                        minLength: 1
                        description: 주민등록번호
                      title:
                        type: string
                        minLength: 1
                        description: 신분증 종류
                required:
                  - quadrilateral
                  - result
              examples:
                주민등록증:
                  value:
                    quadrilateral: true
                    result:
                      date: '20191205'
                      name: 홍길동
                      number: 610220-1250511
                      title: 주민등록증
        '400':
          description: |-
            Bad Request

            사용자가 키를 잘못 입력하였거나, 값에 문제가 있을때
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  message:
                    type: string
                    minLength: 1
                required:
                  - message
              examples:
                image not given:
                  value:
                    message: 'image: not provided'
                base64 decoding of the image failed:
                  value:
                    message: image base64 decode error
                Unsupported ID:
                  value:
                    message: Unsupported ID type
                Image not readable:
                  value:
                    message: Image cannot be read
                Query image is too small to process:
                  value:
                    message: Image is too small to process
                id_type not correct:
                  value:
                    message: 'id_type: is not correct.'
                image property does not match:
                  value:
                    message: 'image: property in this field does not match. base64 or url.'
                image empty:
                  value:
                    message: Image is empty
            application/xml:
              schema:
                type: object
                properties: {}
        '401':
          description: |-
            Unauthorized

            허가되지 않은 사용자의 접근
        '409':
          description: |-
            Conflict

            서버에서의 처리 중 에러
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  message:
                    type: string
                required:
                  - message
              examples:
                Vertex detection error:
                  value:
                    message: 'text detection error: 202'
                Text detection error:
                  value:
                    message: text detection error
                //OCR error:
                  value:
                    message: text recognition error
                //Matching error:
                  value:
                    message: matching error
                onnxexception:
                  value:
                    message: 'Onnx runtime error: 100'
                stdexception:
                  value:
                    message: 'Std Exception: 101'
                cvexception:
                  value:
                    message: 'OpenCV error: 100'
                cannot find text:
                  value:
                    message: 'text detection error: 201'
                cannot find squre:
                  value:
                    message: 'text detection error: 203'
                not enough to be square:
                  value:
                    message: 'text detection error: 204'
                not enough contour:
                  value:
                    message: 'text detection error: 207'
                not enough group:
                  value:
                    message: 'text detection error: 208'
                cannot find object:
                  value:
                    message: 'object detection error: 209'
                json decode error:
                  value:
                    message: Json decode error
          headers: {}
        '500':
          description: |-
            Internal Server Error

            서버가 유지보수 중이거나 응답할 수 없는 상태
      description: 한국인 주민등록증 인식 후 텍스트 검출하여 돌려줍니다.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                image:
                  type: string
                  minLength: 1
                  description: base64로 인코딩 한 스트링 or http URL
                is_url:
                  type: boolean
                  description: image속성이 url일때 true
              required:
                - image
            examples:
              Base64 Example:
                value:
                  image: iVBORw0KGgoAAAANSUhEUgAACbEAAA2zCAYAAADce6KLAAAA....
              URL Example:
                value:
                  id_type: jumin
                  image: 'https://www.cometrue.ai/data/license.jpg'
                  is_url: true
        description: ''
      security:
        - api_key: []
      x-internal: false
    parameters: []
  /id-ocr-driver:
    post:
      summary: Driver License Card OCR
      operationId: post-idocrdriver
      responses:
        '200':
          description: |-
            OK

            정상응답
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    quadrilateral: true
                    result:
                      birth_date: '19660220'
                      code: 7wggen
                      name: 홍길동
                      number: 11-90-041222-33
                      title: 자동차운전면허증
                properties:
                  quadrilateral:
                    type: boolean
                  result:
                    type: object
                    required:
                      - birth_date
                      - code
                      - name
                      - number
                      - title
                    properties:
                      birth_date:
                        type: string
                        minLength: 1
                        description: 생년월일
                      code:
                        type: string
                        minLength: 1
                        description: 운전면허증 식별코드
                      name:
                        type: string
                        minLength: 1
                        description: 성명
                      number:
                        type: string
                        minLength: 1
                        description: 면허번호
                      title:
                        type: string
                        minLength: 1
                        description: 신분증 종류
                required:
                  - quadrilateral
                  - result
              examples:
                운전면허증:
                  value:
                    quadrilateral: true
                    result:
                      birth_date: '19660220'
                      code: 7wggen
                      name: 홍길동
                      number: 11-90-041222-33
                      title: 자동차운전면허증
        '400':
          description: |-
            Bad Request

            사용자가 키를 잘못 입력하였거나, 값에 문제가 있을때
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  message:
                    type: string
                    minLength: 1
                required:
                  - message
              examples:
                image not given:
                  value:
                    message: 'image: not provided'
                base64 decoding of the image failed:
                  value:
                    message: image base64 decode error
                Image not readable:
                  value:
                    message: Image cannot be read
                Query image is too small to process:
                  value:
                    message: Image is too small to process
                image property does not match:
                  value:
                    message: 'image: property in this field does not match. base64 or url.'
                image empty:
                  value:
                    message: Image is empty
            application/xml:
              schema:
                type: object
                properties: {}
        '401':
          description: |-
            Unauthorized

            허가되지 않은 사용자의 접근
        '409':
          description: |-
            Conflict

            서버에서의 처리 중 에러
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  message:
                    type: string
                required:
                  - message
              examples:
                Vertex detection error:
                  value:
                    message: 'text detection error: 202'
                Text detection error:
                  value:
                    message: text detection error
                //OCR error:
                  value:
                    message: text recognition error
                //Matching error:
                  value:
                    message: matching error
                onnxexception:
                  value:
                    message: 'Onnx runtime error: 100'
                stdexception:
                  value:
                    message: 'Std Exception: 101'
                cvexception:
                  value:
                    message: 'OpenCV error: 100'
                cannot find text:
                  value:
                    message: 'text detection error: 201'
                cannot find squre:
                  value:
                    message: 'text detection error: 203'
                not enough to be square:
                  value:
                    message: 'text detection error: 204'
                not enough contour:
                  value:
                    message: 'text detection error: 207'
                not enough group:
                  value:
                    message: 'text detection error: 208'
                cannot find object:
                  value:
                    message: 'object detection error: 209'
                json decode error:
                  value:
                    message: Json decode error
          headers: {}
        '500':
          description: |-
            Internal Server Error

            서버가 유지보수 중이거나 응답할 수 없는 상태
      description: 한국인 운전면허증 인식 후 텍스트 검출하여 돌려줍니다.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                image:
                  type: string
                  minLength: 1
                  description: base64로 인코딩 한 스트링 or http URL
                is_url:
                  type: boolean
                  description: image속성이 url일때 true
              required:
                - image
            examples:
              Base64 Example:
                value:
                  image: iVBORw0KGgoAAAANSUhEUgAACbEAAA2zCAYAAADce6KLAAAA....
              URL Example:
                value:
                  id_type: jumin
                  image: 'https://www.cometrue.ai/data/license.jpg'
                  is_url: true
        description: ''
      security:
        - api_key: []
      x-internal: false
    parameters: []
  /id-ocr-alien:
    post:
      summary: Alien Registration Card OCR
      operationId: post-idocralien
      responses:
        '200':
          description: |-
            OK

            정상응답
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  quadrilateral:
                    type: boolean
                    description: 신분증에 해당하는 사각형이 검출되었는지 확인
                  result:
                    type: object
                    description: ''
                    required:
                      - date
                      - name
                      - number
                      - title
                    properties:
                      date:
                        type: string
                        minLength: 1
                        description: 외국인등록증 발급일자
                      name:
                        type: string
                        minLength: 1
                        description: 성명
                      number:
                        type: string
                        minLength: 1
                        description: 외국인등록번호
                      title:
                        type: string
                        minLength: 1
                        description: 신분증 종류
                required:
                  - quadrilateral
                  - result
              examples:
                외국인등록증:
                  value:
                    quadrilateral: true
                    result:
                      date: '20110101'
                      name: HONG KIL DONG
                      number: 123456-1234567
                      title: 외국인등록증
        '400':
          description: |-
            Bad Request

            사용자가 키를 잘못 입력하였거나, 값에 문제가 있을때
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  message:
                    type: string
                    minLength: 1
                required:
                  - message
              examples:
                image not given:
                  value:
                    message: 'image: not provided'
                base64 decoding of the image failed:
                  value:
                    message: image base64 decode error
                Image not readable:
                  value:
                    message: Image cannot be read
                Query image is too small to process:
                  value:
                    message: Image is too small to process
                image property does not match:
                  value:
                    message: 'image: property in this field does not match. base64 or url.'
                image empty:
                  value:
                    message: Image is empty
            application/xml:
              schema:
                type: object
                properties: {}
        '401':
          description: |-
            Unauthorized

            허가되지 않은 사용자의 접근
        '409':
          description: |-
            Conflict

            서버에서의 처리 중 에러
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  message:
                    type: string
                required:
                  - message
              examples:
                Vertex detection error:
                  value:
                    message: 'text detection error: 202'
                Text detection error:
                  value:
                    message: text detection error
                //OCR error:
                  value:
                    message: text recognition error
                //Matching error:
                  value:
                    message: matching error
                onnxexception:
                  value:
                    message: 'Onnx runtime error: 100'
                stdexception:
                  value:
                    message: 'Std Exception: 101'
                cvexception:
                  value:
                    message: 'OpenCV error: 100'
                cannot find text:
                  value:
                    message: 'text detection error: 201'
                cannot find squre:
                  value:
                    message: 'text detection error: 203'
                not enough to be square:
                  value:
                    message: 'text detection error: 204'
                not enough contour:
                  value:
                    message: 'text detection error: 207'
                not enough group:
                  value:
                    message: 'text detection error: 208'
                cannot find object:
                  value:
                    message: 'object detection error: 209'
                json decode error:
                  value:
                    message: Json decode error
          headers: {}
        '500':
          description: |-
            Internal Server Error

            서버가 유지보수 중이거나 응답할 수 없는 상태
      description: 외국인 등록증 인식 후 텍스트 검출하여 돌려줍니다.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                image:
                  type: string
                  minLength: 1
                  description: base64로 인코딩 한 스트링 or http URL
                is_url:
                  type: boolean
                  description: image속성이 url일때 true
              required:
                - image
            examples:
              Base64 Example:
                value:
                  image: iVBORw0KGgoAAAANSUhEUgAACbEAAA2zCAYAAADce6KLAAAA....
              URL Example:
                value:
                  id_type: jumin
                  image: 'https://www.cometrue.ai/data/license.jpg'
                  is_url: true
        description: ''
      security:
        - api_key: []
      x-internal: false
    parameters: []
  /id-ocr-passport:
    post:
      summary: Passport OCR
      operationId: post-idocrpassport
      responses:
        '200':
          description: |-
            OK

            정상응답
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  quadrilateral:
                    type: boolean
                    description: 신분증에 해당하는 사각형이 검출되었는지 확인
                  result:
                    type: object
                    description: ''
                    required:
                      - name
                      - number
                      - title
                      - mrz1
                      - mrz2
                    properties:
                      name:
                        type: string
                        minLength: 1
                        description: 성명
                      number:
                        type: string
                        minLength: 1
                        description: 주민등록번호 뒷자리
                      title:
                        type: string
                        minLength: 1
                        description: 신분증 종류
                      mrz1:
                        type: string
                        description: 기계판독영역
                      mrz2:
                        type: string
                        description: 기계판독영역
                required:
                  - quadrilateral
                  - result
              examples:
                여권:
                  value:
                    quadrilateral: true
                    result:
                      name: 홍길동
                      number: '012345678'
                      title: 여권
                      mrz1: PDKORHONG<<KIL<DONG<<<<<<<<<<<<<<<<<<<<<<<<<
                      mrz2: D123456785KOR7501012M13031001234567V15788666
                      birth_date: 01JAN1975
                      issue_date: 10MAR2008
                      expiry_date: 10MAR2013
        '400':
          description: |-
            Bad Request

            사용자가 키를 잘못 입력하였거나, 값에 문제가 있을때
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  message:
                    type: string
                    minLength: 1
                required:
                  - message
              examples:
                image not given:
                  value:
                    message: 'image: not provided'
                base64 decoding of the image failed:
                  value:
                    message: image base64 decode error
                Image not readable:
                  value:
                    message: Image cannot be read
                Query image is too small to process:
                  value:
                    message: Image is too small to process
                image property does not match:
                  value:
                    message: 'image: property in this field does not match. base64 or url.'
                image empty:
                  value:
                    message: Image is empty
            application/xml:
              schema:
                type: object
                properties: {}
        '401':
          description: |-
            Unauthorized

            허가되지 않은 사용자의 접근
        '409':
          description: |-
            Conflict

            서버에서의 처리 중 에러
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  message:
                    type: string
                required:
                  - message
              examples:
                Vertex detection error:
                  value:
                    message: 'text detection error: 202'
                Text detection error:
                  value:
                    message: text detection error
                //OCR error:
                  value:
                    message: text recognition error
                //Matching error:
                  value:
                    message: matching error
                onnxexception:
                  value:
                    message: 'Onnx runtime error: 100'
                stdexception:
                  value:
                    message: 'Std Exception: 101'
                cvexception:
                  value:
                    message: 'OpenCV error: 100'
                cannot find text:
                  value:
                    message: 'text detection error: 201'
                cannot find squre:
                  value:
                    message: 'text detection error: 203'
                not enough to be square:
                  value:
                    message: 'text detection error: 204'
                not enough contour:
                  value:
                    message: 'text detection error: 207'
                not enough group:
                  value:
                    message: 'text detection error: 208'
                cannot find object:
                  value:
                    message: 'object detection error: 209'
                json decode error:
                  value:
                    message: Json decode error
                cannot find mrz:
                  value:
                    message: 'text detection error: 205'
          headers: {}
        '500':
          description: |-
            Internal Server Error

            서버가 유지보수 중이거나 응답할 수 없는 상태
      description: 여권 인식 후 텍스트 검출하여 돌려줍니다.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                image:
                  type: string
                  minLength: 1
                  description: base64로 인코딩 한 스트링 or http URL
                is_url:
                  type: boolean
                  description: image속성이 url일때 true
              required:
                - image
            examples:
              Base64 Example:
                value:
                  image: iVBORw0KGgoAAAANSUhEUgAACbEAAA2zCAYAAADce6KLAAAA....
              URL Example:
                value:
                  id_type: jumin
                  image: 'https://www.cometrue.ai/data/license.jpg'
                  is_url: true
        description: ''
      security:
        - api_key: []
      x-internal: false
    parameters: []
  /id-ocr-kpassport:
    post:
      summary: Korea Passport OCR
      operationId: post-idocrkpassport
      responses:
        '200':
          description: |-
            OK

            정상응답
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  quadrilateral:
                    type: boolean
                    description: 신분증에 해당하는 사각형이 검출되었는지 확인
                  result:
                    type: object
                    description: ''
                    required:
                      - name
                      - number
                      - title
                    properties:
                      name:
                        type: string
                        minLength: 1
                        description: 성명
                      number:
                        type: string
                        minLength: 1
                        description: 주민등록번호 뒷자리
                      title:
                        type: string
                        minLength: 1
                        description: 신분증 종류
                      mrz1:
                        type: string
                        description: 기계판독영역
                      mrz2:
                        type: string
                        description: 기계판독영역
                      birth_date:
                        type: string
                        description: 생년월일
                      issue_date:
                        type: string
                        description: 발급일
                      expiry_date:
                        type: string
                        description: 기간 만료일
                required:
                  - quadrilateral
                  - result
              examples:
                한국여권:
                  value:
                    quadrilateral: true
                    result:
                      name: 홍길동
                      number: '012345678'
                      title: 여권
                      mrz1: PDKORHONG<<KIL<DONG<<<<<<<<<<<<<<<<<<<<<<<<<
                      mrz2: D123456785KOR7501012M13031001234567V15788666
                      birth_date: 01JAN1975
                      issue_date: 10MAR2008
                      expiry_date: 10MAR2013
        '400':
          description: |-
            Bad Request

            사용자가 키를 잘못 입력하였거나, 값에 문제가 있을때
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  message:
                    type: string
                    minLength: 1
                required:
                  - message
              examples:
                image not given:
                  value:
                    message: 'image: not provided'
                base64 decoding of the image failed:
                  value:
                    message: image base64 decode error
                Image not readable:
                  value:
                    message: Image cannot be read
                Query image is too small to process:
                  value:
                    message: Image is too small to process
                image property does not match:
                  value:
                    message: 'image: property in this field does not match. base64 or url.'
                image empty:
                  value:
                    message: Image is empty
            application/xml:
              schema:
                type: object
                properties: {}
        '401':
          description: |-
            Unauthorized

            허가되지 않은 사용자의 접근
        '409':
          description: |-
            Conflict

            서버에서의 처리 중 에러
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  message:
                    type: string
                required:
                  - message
              examples:
                Vertex detection error:
                  value:
                    message: 'text detection error: 202'
                Text detection error:
                  value:
                    message: text detection error
                //OCR error:
                  value:
                    message: text recognition error
                //Matching error:
                  value:
                    message: matching error
                onnxexception:
                  value:
                    message: 'Onnx runtime error: 100'
                stdexception:
                  value:
                    message: 'Std Exception: 101'
                cvexception:
                  value:
                    message: 'OpenCV error: 100'
                cannot find text:
                  value:
                    message: 'text detection error: 201'
                cannot find squre:
                  value:
                    message: 'text detection error: 203'
                not enough to be square:
                  value:
                    message: 'text detection error: 204'
                not enough contour:
                  value:
                    message: 'text detection error: 207'
                not enough group:
                  value:
                    message: 'text detection error: 208'
                cannot find object:
                  value:
                    message: 'object detection error: 209'
                json decode error:
                  value:
                    message: Json decode error
                cannot find mrz:
                  value:
                    message: 'text detection error: 205'
          headers: {}
        '500':
          description: |-
            Internal Server Error

            서버가 유지보수 중이거나 응답할 수 없는 상태
      description: 한국인 여권 인식 후 텍스트 검출하여 돌려줍니다.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                image:
                  type: string
                  minLength: 1
                  description: base64로 인코딩 한 스트링 or http URL
                is_url:
                  type: boolean
                  description: image속성이 url일때 true
              required:
                - image
            examples:
              Base64 Example:
                value:
                  image: iVBORw0KGgoAAAANSUhEUgAACbEAAA2zCAYAAADce6KLAAAA....
              URL Example:
                value:
                  id_type: jumin
                  image: 'https://www.cometrue.ai/data/license.jpg'
                  is_url: true
        description: ''
      security:
        - api_key: []
      x-internal: false
    parameters: []
components:
  schemas: {}
  securitySchemes:
    api_key:
      name: api_key
      type: apiKey
      in: query
      description: api.cometrue.ai에서 발급받은 API key
  responses:
    ErrorResponse:
      description: 신분증 인식 및 OCR에 대한 Error Message
      content:
        application/json:
          schema:
            description: ''
            type: object
            properties:
              message:
                type: string
            required:
              - message
