openapi: 3.0.0
info:
  title: Tableocr
  version: '1.0'
  description: 이미지에서 표를 검출하여 추출해 주는 API입니다.
  contact:
    email: info@cometrue.ai
    url: 'https://cometrue.ai'
    name: 인공지능사업부
  termsOfService: 서비스약관
servers:
  - url: 'https://api.cometrue.ai/v1/identifcation'
    description: Cometrue
paths:
  /table-ocr:
    post:
      summary: Table OCR
      operationId: post-tableocr
      responses:
        '200':
          description: |-
            OK
            정상응답
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    result:
                      - table_index: 0
                        cells:
                          - x: 1
                            'y': 3
                            str: []
                          - x: 2
                            'y': 1
                            str: []
                          - x: 2
                            'y': 2
                            str:
                              - longterm
                              - debtrating
                              - (s.ermioodys)
                          - x: 2
                            'y': 3
                            str:
                              - valuationpercentage
                          - x: 3
                            'y': 1
                            str:
                              - axrwcash
                          - x: 4
                            'y': 1
                            str:
                              - (krwcashdeposit.openedand
                              - maintainedwithaqualifiedfinancial
                              - institutiondefinedinannex4ofthe
                              - idetail.edregulationsof
                              - 'on'
                              - the
                              - regul.ations
                              - investent
                              - financial.
                              - business1
                          - x: 4
                            'y': 2
                            str:
                              - aa-a
                              - laa-a2
                          - x: 4
                            'y': 3
                            str:
                              - '1009'
                          - x: 3
                            'y': 2
                            str:
                              - notapplicable
                          - x: 3
                            'y': 3
                            str:
                              - 9x00r
                          - x: 5
                            'y': 1
                            str:
                              - (xrwdcbtsccuriticsissuedbythc
                              - govermentorthcrepublicofkorea
                              - (rvxrwdebtsecuritiesissuedbythe
                              - bankofkorca
                          - x: 5
                            'y': 2
                            str:
                              - notapplicable
                          - x: 5
                            'y': 3
                            str:
                              - residual
                              - maturity
                              - years.
                              - '51,99.59'
                              - '21,55.98입.'
                              - 35.969.
                          - x: 6
                            'y': 1
                            str:
                              - (vkrwdebtsecuritiesissuedor
                              - guaranteedinfllamountbyapublic
                              - corporationwhoselossinstitutionally
                              - coveredbythegovermentaccording
                              - toaspecialact.
                          - x: 6
                            'y': 2
                            str:
                              - aa-bb.
                              - laa-ba3
                          - x: 6
                            'y': 3
                            str:
                              - kesidual
                              - maturity
                              - years.
                              - '51,999'
                              - '21,5596원'
                              - '25.929'
                          - x: 7
                            'y': 1
                            str:
                              - (vxrwdcbtsccuriticsissuedbya
                              - qualifiedfinanciatinstitutiondefined
                              - inannex4oftheidetail.ed
                              - the
                              - regul.ations
                              - regulationsonfinancial
                              - investmentbusiness1
                          - x: 7
                            'y': 2
                            str:
                              - a4-a4-
                              - taaa-aa3
                          - x: 7
                            'y': 3
                            str:
                              - kesidual
                              - maturity
                              - years.
                              - '-,9993'
                              - '31,5596'
                              - 25.929.
                          - x: 8
                            'y': 2
                            str:
                              - 4-a
                              - 11-42
                          - x: 8
                            'y': 3
                            str:
                              - kesidual
                              - maturity
                              - years.
                              - '51,989'
                              - '기1,5594입'
                              - 25.889.
                      - table_index: 1
                        cells:
                          - x: 2
                            'y': 2
                            str:
                              - longterm
                              - debtrating
                              - (sepmmoodys)
                          - x: 2
                            'y': 3
                            str:
                              - valuationpercentage
                          - x: 3
                            'y': 2
                            str: []
                          - x: 3
                            'y': 3
                            str:
                              - 25-96일
                          - x: 4
                            'y': 2
                            str:
                              - 4-bbe-
                              - 11-baa3
                          - x: 4
                            'y': 3
                            str:
                              - ojt6isx
                              - '4651'
                              - '9666.15'
                              - ssraf
                              - kuueur
                              - 피
                              - tenprsay
                properties:
                  result:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      type: object
                      properties:
                        table_index:
                          type: number
                          description: 표 번호
                        cells:
                          type: array
                          uniqueItems: true
                          minItems: 1
                          description: 셀
                          items:
                            type: object
                            properties:
                              x:
                                type: number
                                description: x좌표
                              'y':
                                type: number
                                description: y좌표
                              str:
                                type: array
                                description: 텍스트
                                items:
                                  type: object
                            required:
                              - x
                              - 'y'
                      required:
                        - table_index
                required:
                  - result
              examples:
                결과:
                  value:
                    result:
                      - table_index: 0
                        cells:
                          - x: 1
                            'y': 3
                            str: []
                          - x: 2
                            'y': 1
                            str: []
                          - x: 2
                            'y': 2
                            str:
                              - longterm
                              - debtrating
                              - (s.ermioodys)
                          - x: 2
                            'y': 3
                            str:
                              - valuationpercentage
        '400':
          description: |-
            Bad Request
            사용자가 키를 잘못 입력하였거나, 값에 문제가 있을때
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  message:
                    type: string
                    minLength: 1
                required:
                  - message
              examples:
                id_type not given:
                  value:
                    message: id_type not provided
                image not given:
                  value:
                    message: image not provided
                base64 decoding of the image failed:
                  value:
                    message: image base64 decode error
                Non-acceptable ID:
                  value:
                    message: Unsupported ID type
                Image not readable:
                  value:
                    message: Image cannot be read
                Query image is too small to process:
                  value:
                    message: Image is too small to process
            application/xml:
              schema:
                type: object
                properties: {}
        '401':
          description: |-
            Unauthorized
            허가되지 않은 사용자의 접근
        '409':
          description: |-
            Conflict
            서버에서의 처리 중 에러
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  message:
                    type: string
                required:
                  - message
              examples:
                Vertex detection error:
                  value:
                    message: vertex detection error
                Text detection error:
                  value:
                    message: text detection error
                OCR error:
                  value:
                    message: text recognition error
                Matching error:
                  value:
                    message: matching error
          headers: {}
        '500':
          description: |-
            Internal Server Error
            서버가 유지보수 중이거나 응답할 수 없는 상태
      description: 표를 인식 후 텍스트 검출하여 돌려줍니다.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                image:
                  type: string
                  minLength: 1
                  description: base64로 인코딩 한 스트링 or http URL
              required:
                - image
            examples:
              Base64 Example:
                value:
                  image: iVBORw0KGgoAAAANSUhEUgAACbEAAA2zCAYAAADce6KLAAAA....
              URL Example:
                value:
                  id_type: jumin
                  image: 'https://www.cometrue.ai/data/license.jpg'
                  is_url: true
        description: ''
      security:
        - api_key: []
      x-internal: false
    parameters: []
components:
  schemas: {}
  securitySchemes:
    api_key:
      name: api_key
      type: apiKey
      in: query
      description: api.cometrue.ai에서 발급받은 API key
  responses:
    ErrorResponse:
      description: 신분증 인식 및 OCR에 대한 Error Message
      content:
        application/json:
          schema:
            description: ''
            type: object
            properties:
              message:
                type: string
            required:
              - message
