openapi: 3.1.0
info:
  title: ExtractText
  version: '1.0'
  description: 사진에서 텍스트를 추출해 주는 API입니다
servers:
  - url: 'https://api.cometrue.ai/v1/identifcation'
paths:
  /textocr:
    post:
      summary: ExtractText OCR
      operationId: post-textocr
      responses:
        '200':
          description: |-
            OK
            정상응답
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    Template: ''
                    ROI:
                      - index: 0
                        x: 63
                        'y': 21
                        width: 175
                        height: 45
                        text: 주민등록증
                        tag: ''
                        language: ''
                        xPoints:
                          - 63
                          - 239
                          - 238
                          - 62
                        yPoints:
                          - 21
                          - 24
                          - 66
                          - 63
                      - index: 1
                        x: 69
                        'y': 82
                        width: 160
                        height: 31
                        text: 정승일(x-)
                        tag: ''
                        language: ''
                        xPoints:
                          - 69
                          - 229
                          - 229
                          - 69
                        yPoints:
                          - 82
                          - 84
                          - 113
                          - 112
                      - index: 2
                        x: 60
                        'y': 118
                        width: 178
                        height: 22
                        text: 690212-1148921
                        tag: ''
                        language: ''
                        xPoints:
                          - 60
                          - 239
                          - 238
                          - 60
                        yPoints:
                          - 118
                          - 120
                          - 140
                          - 138
                      - index: 3
                        x: 51
                        'y': 154
                        width: 228
                        height: 20
                        text: 인천광역시연수구옥련동633
                        tag: ''
                        language: ''
                        xPoints:
                          - 51
                          - 279
                          - 279
                          - 51
                        yPoints:
                          - 154
                          - 155
                          - 174
                          - 173
                      - index: 4
                        x: 52
                        'y': 173
                        width: 188
                        height: 17
                        text: 현대아파트207동1504호
                        tag: ''
                        language: ''
                        xPoints:
                          - 52
                          - 240
                          - 240
                          - 53
                        yPoints:
                          - 173
                          - 172
                          - 190
                          - 191
                      - index: 5
                        x: 129
                        'y': 240
                        width: 196
                        height: 23
                        text: 인천광역시연수구청장
                        tag: ''
                        language: ''
                        xPoints:
                          - 129
                          - 325
                          - 325
                          - 129
                        yPoints:
                          - 240
                          - 240
                          - 263
                          - 263
                properties:
                  Template:
                    type: string
                    description: ' '
                  ROI:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    description: ' '
                    items:
                      type: object
                      properties:
                        index:
                          type: number
                          description: ' '
                        x:
                          type: number
                          description: ' '
                        'y':
                          type: number
                          description: ' '
                        width:
                          type: number
                          description: ' '
                        height:
                          type: number
                          description: ' '
                        text:
                          type: string
                          minLength: 1
                          description: ' '
                        tag:
                          type: string
                          description: ' '
                        language:
                          type: string
                          description: ' '
                        xPoints:
                          type: array
                          description: ' '
                          items:
                            type: object
                        yPoints:
                          type: array
                          description: ' '
                          items:
                            type: object
              examples:
                추출결과:
                  value:
                    Template: ''
                    ROI:
                      - index: 0
                        x: 414
                        'y': 302
                        width: 1230
                        height: 192
                        text: 대한민국
                        tag: ''
                        language: ''
                        xPoints:
                          - 414
                          - 1642
                          - 1644
                          - 417
                        yPoints:
                          - 302
                          - 291
                          - 494
                          - 505
                      - index: 1
                        x: 412
                        'y': 521
                        width: 1241
                        height: 134
                        text: republicofkorea
                        tag: ''
                        language: ''
                        xPoints:
                          - 412
                          - 1651
                          - 1653
                          - 414
                        yPoints:
                          - 521
                          - 505
                          - 655
                          - 671
                      - index: 2
                        x: 792
                        'y': 2140
                        width: 547
                        height: 155
                        text: 여권
                        tag: ''
                        language: ''
                        xPoints:
                          - 792
                          - 1335
                          - 1339
                          - 797
                        yPoints:
                          - 2140
                          - 2129
                          - 2295
                          - 2306
                      - index: 3
                        x: 730
                        'y': 2354
                        width: 657
                        height: 113
                        text: passport
                        tag: ''
                        language: ''
                        xPoints:
                          - 730
                          - 1378
                          - 1387
                          - 739
                        yPoints:
                          - 2354
                          - 2321
                          - 2467
                          - 2500
            application/xml:
              schema:
                type: object
                properties: {}
        '400':
          description: Missing Required Information
        '409':
          description: Email Already Taken
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                image:
                  type: string
              required:
                - image
            examples:
              Base64 Example:
                value:
                  image: iVBORw0KGgoAAAANSUhEUgAACbEAAA2zCAYAAADce6KLAAAA....
        description: ''
      description: 사진의 텍스트를 검출하여 돌려줍니다.
    parameters: []
components:
  schemas: {}
  responses:
    ErrorResponse:
      description: Example response
      content:
        application/json:
          schema:
            properties:
              id:
                type: string
