openapi: 3.0.0
info:
  title: OCR
  version: '1.0'
  description: 신분증 진위여부에 필요한 정보들을 신분증 이미지에서 검출하여 주는 API입니다.
  contact:
    email: info@cometrue.ai
    url: 'https://cometrue.ai'
    name: 인공지능사업부
  termsOfService: 서비스약관
servers:
  - url: 'https://api.cometrue.ai/v1'
    description: Cometrue
paths:
  /jumin/ocr:
    post:
      summary: Jumin OCR
      operationId: post-juminocr
      responses:
        '200':
          description: |-
            OK

            정상응답
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    name: 정승일
                    number:
                      - '690212'
                      - '1148921'
                    issue_date: '19991004'
                properties:
                  name:
                    type: string
                    minLength: 1
                    description: 성명
                  number:
                    type: array
                    description: 주민등록번호
                    items:
                      type: string
                  issue_date:
                    type: string
                    minLength: 1
                    description: 발급일자
                required:
                  - name
                  - number
                  - issue_date
              examples:
                주민등록증:
                  value:
                    name: 홍길동
                    number:
                      - '610220'
                      - '1250511'
                    issue_date: '20090813'
        '400':
          description: |-
            Bad Request

            사용자가 키를 잘못 입력하였거나, 값에 문제가 있을때
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  message:
                    type: string
                    minLength: 1
                required:
                  - message
              examples:
                id_type not given:
                  value:
                    message: id_type not provided
                image not given:
                  value:
                    message: image not provided
                base64 decoding of the image failed:
                  value:
                    message: image base64 decode error
                Non-acceptable ID:
                  value:
                    message: Unsupported ID type
                Image not readable:
                  value:
                    message: Image cannot be read
                Query image is too small to process:
                  value:
                    message: Image is too small to process
            application/xml:
              schema:
                type: object
                properties: {}
        '401':
          description: |-
            Unauthorized

            허가되지 않은 사용자의 접근
        '409':
          description: |-
            Conflict

            서버에서의 처리 중 에러
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  message:
                    type: string
                required:
                  - message
              examples:
                Vertex detection error:
                  value:
                    message: vertex detection error
                Text detection error:
                  value:
                    message: text detection error
                OCR error:
                  value:
                    message: text recognition error
                Matching error:
                  value:
                    message: matching error
          headers: {}
        '500':
          description: |-
            Internal Server Error

            서버가 유지보수 중이거나 응답할 수 없는 상태
      description: 신분증 인식 후 텍스트 검출하여 돌려줍니다.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                image:
                  type: string
                  minLength: 1
                  description: base64로 인코딩 한 스트링 or http URL
              required:
                - image
            examples:
              Base64 Example:
                value:
                  image: iVBORw0KGgoAAAANSUhEUgAACbEAAA2zCAYAAADce6KLAAAA....
              URL Example:
                value:
                  id_type: jumin
                  image: 'https://www.cometrue.ai/data/license.jpg'
                  is_url: true
        description: ''
      security:
        - api_key: []
      x-internal: false
    parameters: []
  /driver/ocr:
    post:
      summary: Driver OCR
      operationId: post-driverocr
      responses:
        '200':
          description: |-
            OK

            정상응답
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    name: 고길동
                    birthday:
                      - '1999'
                      - '12'
                      - '25'
                    number:
                      - '12'
                      - '34'
                      - '567891'
                      - '01'
                    code: deuors
                properties:
                  name:
                    type: string
                    minLength: 1
                    description: 성명
                  birthday:
                    type: array
                    minItems: 3
                    description: 생년월일
                    maxItems: 3
                    items:
                      type: string
                      description: 년 월 일
                  number:
                    type: array
                    minItems: 4
                    maxItems: 4
                    description: 운전면허번호
                    items:
                      type: string
                  code:
                    type: string
                    minLength: 1
                    description: 식별번호
                required:
                  - name
                  - birthday
                  - number
                  - code
              examples:
                운전면허증:
                  value:
                    name: 고길동
                    birthday:
                      - '1999'
                      - '12'
                      - '25'
                    number:
                      - '12'
                      - '34'
                      - '567891'
                      - '01'
                    code: deuors
        '400':
          description: |-
            Bad Request

            사용자가 키를 잘못 입력하였거나, 값에 문제가 있을때
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  message:
                    type: string
                    minLength: 1
                required:
                  - message
              examples:
                id_type not given:
                  value:
                    message: id_type not provided
                image not given:
                  value:
                    message: image not provided
                base64 decoding of the image failed:
                  value:
                    message: image base64 decode error
                Non-acceptable ID:
                  value:
                    message: Unsupported ID type
                Image not readable:
                  value:
                    message: Image cannot be read
                Query image is too small to process:
                  value:
                    message: Image is too small to process
            application/xml:
              schema:
                type: object
                properties: {}
        '401':
          description: |-
            Unauthorized

            허가되지 않은 사용자의 접근
        '409':
          description: |-
            Conflict

            서버에서의 처리 중 에러
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  message:
                    type: string
                required:
                  - message
              examples:
                Vertex detection error:
                  value:
                    message: vertex detection error
                Text detection error:
                  value:
                    message: text detection error
                OCR error:
                  value:
                    message: text recognition error
                Matching error:
                  value:
                    message: matching error
          headers: {}
        '500':
          description: |-
            Internal Server Error

            서버가 유지보수 중이거나 응답할 수 없는 상태
      description: 신분증 인식 후 텍스트 검출하여 돌려줍니다.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                image:
                  type: string
                  minLength: 1
                  description: base64로 인코딩 한 스트링 or http URL
              required:
                - image
            examples:
              Base64 Example:
                value:
                  image: iVBORw0KGgoAAAANSUhEUgAACbEAAA2zCAYAAADce6KLAAAA....
              URL Example:
                value:
                  id_type: jumin
                  image: 'https://www.cometrue.ai/data/license.jpg'
                  is_url: true
        description: ''
      security:
        - api_key: []
      x-internal: false
    parameters: []
  /driver/verify:
    post:
      summary: Driver Verify
      operationId: post-driververify
      responses:
        '200':
          description: |-
            OK

            정상응답
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    verified: false
                properties:
                  verified:
                    type: boolean
                    description: 검증결과
                required:
                  - verified
              examples:
                검증:
                  value:
                    verified: false
        '400':
          description: |-
            Bad Request

            사용자가 키를 잘못 입력하였거나, 값에 문제가 있을때
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  message:
                    type: string
                    minLength: 1
                required:
                  - message
              examples:
                id_type not given:
                  value:
                    message: id_type not provided
                image not given:
                  value:
                    message: image not provided
                base64 decoding of the image failed:
                  value:
                    message: image base64 decode error
                Non-acceptable ID:
                  value:
                    message: Unsupported ID type
                Image not readable:
                  value:
                    message: Image cannot be read
                Query image is too small to process:
                  value:
                    message: Image is too small to process
            application/xml:
              schema:
                type: object
                properties: {}
        '401':
          description: |-
            Unauthorized

            허가되지 않은 사용자의 접근
        '409':
          description: |-
            Conflict

            서버에서의 처리 중 에러
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  message:
                    type: string
                required:
                  - message
              examples:
                Vertex detection error:
                  value:
                    message: vertex detection error
                Text detection error:
                  value:
                    message: text detection error
                OCR error:
                  value:
                    message: text recognition error
                Matching error:
                  value:
                    message: matching error
          headers: {}
        '500':
          description: |-
            Internal Server Error

            서버가 유지보수 중이거나 응답할 수 없는 상태
      description: 운전면허증을 검증합니다.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              x-examples:
                example-1:
                  certs:
                    Name: ''
                    Number:
                      - ''
                      - ''
                    PFX: ''
                    Password: ''
                  idcard:
                    name: 박노현
                    birthday:
                      - '1966'
                      - '07'
                      - '16'
                    number:
                      - '11'
                      - '90'
                      - '041573'
                      - '11'
                    code: 7w6gen
              properties:
                certs:
                  type: object
                  required:
                    - Name
                    - Number
                    - PFX
                    - Password
                  properties:
                    Name:
                      type: string
                      description: 성명
                    Number:
                      type: array
                      minItems: 2
                      description: 공동인증서 주민번호
                      maxItems: 2
                      items:
                        type: string
                    PFX:
                      type: string
                      description: 공동인증서
                    Password:
                      type: string
                      description: 공동인증서 비밀번호
                idcard:
                  type: object
                  required:
                    - name
                    - birthday
                    - number
                    - code
                  properties:
                    name:
                      type: string
                      minLength: 1
                      description: 성명
                    birthday:
                      type: array
                      minItems: 3
                      description: 년 월 일
                      maxItems: 3
                      items:
                        type: string
                    number:
                      type: array
                      minItems: 5
                      maxItems: 5
                      description: 운전면허번호
                      items:
                        type: string
                    code:
                      type: string
                      minLength: 1
                      description: 식별코드
              required:
                - certs
                - idcard
            examples:
              운전면허증 검증:
                value:
                  certs:
                    Name: ''
                    Number:
                      - ''
                      - ''
                    PFX: ''
                    Password: ''
                  idcard:
                    name: 홍길동
                    birthday:
                      - '1990'
                      - '02'
                      - '16'
                    number:
                      - '12'
                      - '34'
                      - '567890'
                      - '12'
                    code: 7w6gen
              URL Example:
                value:
                  id_type: jumin
                  image: 'https://www.cometrue.ai/data/license.jpg'
                  is_url: true
        description: ''
      security:
        - api_key: []
      x-internal: false
    parameters: []
  /jumin/verify:
    post:
      summary: Jumin Verify
      operationId: post-driververify
      responses:
        '200':
          description: |-
            OK

            정상응답
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    verified: false
                properties:
                  verified:
                    type: boolean
                    description: 검증결과
                required:
                  - verified
              examples:
                검증:
                  value:
                    verified: false
        '400':
          description: |-
            Bad Request

            사용자가 키를 잘못 입력하였거나, 값에 문제가 있을때
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  message:
                    type: string
                    minLength: 1
                required:
                  - message
              examples:
                id_type not given:
                  value:
                    message: id_type not provided
                image not given:
                  value:
                    message: image not provided
                base64 decoding of the image failed:
                  value:
                    message: image base64 decode error
                Non-acceptable ID:
                  value:
                    message: Unsupported ID type
                Image not readable:
                  value:
                    message: Image cannot be read
                Query image is too small to process:
                  value:
                    message: Image is too small to process
            application/xml:
              schema:
                type: object
                properties: {}
        '401':
          description: |-
            Unauthorized

            허가되지 않은 사용자의 접근
        '409':
          description: |-
            Conflict

            서버에서의 처리 중 에러
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  message:
                    type: string
                required:
                  - message
              examples:
                Vertex detection error:
                  value:
                    message: vertex detection error
                Text detection error:
                  value:
                    message: text detection error
                OCR error:
                  value:
                    message: text recognition error
                Matching error:
                  value:
                    message: matching error
          headers: {}
        '500':
          description: |-
            Internal Server Error

            서버가 유지보수 중이거나 응답할 수 없는 상태
      description: 주민등록증을 검증합니다.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              x-examples:
                example-1:
                  certs:
                    Name: ''
                    Number:
                      - ''
                      - ''
                    PFX: ''
                    Password: ''
                  idcard:
                    name: 박노현
                    birthday:
                      - '1966'
                      - '07'
                      - '16'
                    number:
                      - '11'
                      - '90'
                      - '041573'
                      - '11'
                    code: 7w6gen
              properties:
                certs:
                  type: object
                  required:
                    - Name
                    - Number
                    - PFX
                    - Password
                  properties:
                    Name:
                      type: string
                      description: 성명
                    Number:
                      type: array
                      minItems: 2
                      description: 공동인증서 주민번호
                      maxItems: 2
                      items:
                        type: string
                    PFX:
                      type: string
                      description: 공동인증서
                    Password:
                      type: string
                      description: 공동인증서 비밀번호
                idcard:
                  type: object
                  required:
                    - name
                    - number
                  properties:
                    name:
                      type: string
                      minLength: 1
                      description: 성명
                    number:
                      type: array
                      minItems: 5
                      maxItems: 5
                      description: 주민등록번호
                      items:
                        type: string
                    issue_date:
                      type: string
                      description: 발급일자
              required:
                - certs
                - idcard
            examples:
              주민등록증 검증:
                value:
                  certs:
                    Name: ''
                    Number:
                      - ''
                      - ''
                    PFX: ''
                    Password: ''
                  idcard:
                    name: 홍길동
                    number:
                      - '660102'
                      - '1235121'
                    issue_date: '20100101'
              URL Example:
                value:
                  id_type: jumin
                  image: 'https://www.cometrue.ai/data/license.jpg'
                  is_url: true
        description: ''
      security:
        - api_key: []
      x-internal: false
    parameters: []
  /alien/verify:
    post:
      summary: Alien Verify
      operationId: post-alienverify
      responses:
        '200':
          description: |-
            OK

            정상응답
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    verified: false
                properties:
                  verified:
                    type: boolean
                    description: 검증결과
                required:
                  - verified
              examples:
                검증:
                  value:
                    verified: false
        '400':
          description: |-
            Bad Request

            사용자가 키를 잘못 입력하였거나, 값에 문제가 있을때
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  message:
                    type: string
                    minLength: 1
                required:
                  - message
              examples:
                id_type not given:
                  value:
                    message: id_type not provided
                image not given:
                  value:
                    message: image not provided
                base64 decoding of the image failed:
                  value:
                    message: image base64 decode error
                Non-acceptable ID:
                  value:
                    message: Unsupported ID type
                Image not readable:
                  value:
                    message: Image cannot be read
                Query image is too small to process:
                  value:
                    message: Image is too small to process
            application/xml:
              schema:
                type: object
                properties: {}
        '401':
          description: |-
            Unauthorized

            허가되지 않은 사용자의 접근
        '409':
          description: |-
            Conflict

            서버에서의 처리 중 에러
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  message:
                    type: string
                required:
                  - message
              examples:
                Vertex detection error:
                  value:
                    message: vertex detection error
                Text detection error:
                  value:
                    message: text detection error
                OCR error:
                  value:
                    message: text recognition error
                Matching error:
                  value:
                    message: matching error
          headers: {}
        '500':
          description: |-
            Internal Server Error

            서버가 유지보수 중이거나 응답할 수 없는 상태
      description: 외국인등록증을 검증합니다.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              x-examples:
                example-1:
                  certs:
                    Name: ''
                    Number:
                      - ''
                      - ''
                    PFX: ''
                    Password: ''
                  idcard:
                    name: 박노현
                    birthday:
                      - '1966'
                      - '07'
                      - '16'
                    number:
                      - '11'
                      - '90'
                      - '041573'
                      - '11'
                    code: 7w6gen
              properties:
                certs:
                  type: object
                  required:
                    - Name
                    - Number
                    - PFX
                    - Password
                  properties:
                    Name:
                      type: string
                      description: 성명
                    Number:
                      type: array
                      minItems: 2
                      description: 공동인증서 주민번호
                      maxItems: 2
                      items:
                        type: string
                    PFX:
                      type: string
                      description: 공동인증서
                    Password:
                      type: string
                      description: 공동인증서 비밀번호
                idcard:
                  type: object
                  required:
                    - number
                    - issue_date
                  properties:
                    number:
                      type: array
                      minItems: 5
                      maxItems: 5
                      description: 외국인 등록번호
                      items:
                        type: string
                    issue_date:
                      type: string
                      description: 발급일자
              required:
                - certs
                - idcard
            examples:
              외국인 등록증검증:
                value:
                  certs:
                    Name: ''
                    Number:
                      - ''
                      - ''
                    PFX: ''
                    Password: ''
                  idcard:
                    number:
                      - '870412'
                      - '5101297'
                    issue_date: '20100101'
              URL Example:
                value:
                  id_type: jumin
                  image: 'https://www.cometrue.ai/data/license.jpg'
                  is_url: true
        description: ''
      security:
        - api_key: []
      x-internal: false
    parameters: []
  /alien/ocr:
    post:
      summary: Alien OCR
      operationId: post-alienocr
      responses:
        '200':
          description: |-
            OK

            정상응답
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    name: 정승일
                    number:
                      - '690212'
                      - '1148921'
                    issue_date: '19991004'
                properties:
                  name:
                    type: string
                    minLength: 1
                    description: 성명
                  number:
                    type: array
                    description: 외국인 등록번호
                    items:
                      type: string
                  issue_date:
                    type: string
                    minLength: 1
                    description: 발급일자
                required:
                  - number
                  - issue_date
              examples:
                외국인 등록증:
                  value:
                    number:
                      - '123456'
                      - '1234567'
                    issue_date: '20110101'
        '400':
          description: |-
            Bad Request

            사용자가 키를 잘못 입력하였거나, 값에 문제가 있을때
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  message:
                    type: string
                    minLength: 1
                required:
                  - message
              examples:
                id_type not given:
                  value:
                    message: id_type not provided
                image not given:
                  value:
                    message: image not provided
                base64 decoding of the image failed:
                  value:
                    message: image base64 decode error
                Non-acceptable ID:
                  value:
                    message: Unsupported ID type
                Image not readable:
                  value:
                    message: Image cannot be read
                Query image is too small to process:
                  value:
                    message: Image is too small to process
            application/xml:
              schema:
                type: object
                properties: {}
        '401':
          description: |-
            Unauthorized

            허가되지 않은 사용자의 접근
        '409':
          description: |-
            Conflict

            서버에서의 처리 중 에러
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  message:
                    type: string
                required:
                  - message
              examples:
                Vertex detection error:
                  value:
                    message: vertex detection error
                Text detection error:
                  value:
                    message: text detection error
                OCR error:
                  value:
                    message: text recognition error
                Matching error:
                  value:
                    message: matching error
          headers: {}
        '500':
          description: |-
            Internal Server Error

            서버가 유지보수 중이거나 응답할 수 없는 상태
      description: 신분증 인식 후 텍스트 검출하여 돌려줍니다.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                image:
                  type: string
                  minLength: 1
                  description: base64로 인코딩 한 스트링 or http URL
              required:
                - image
            examples:
              Base64 Example:
                value:
                  image: iVBORw0KGgoAAAANSUhEUgAACbEAAA2zCAYAAADce6KLAAAA....
              URL Example:
                value:
                  id_type: jumin
                  image: 'https://www.cometrue.ai/data/license.jpg'
                  is_url: true
        description: ''
      security:
        - api_key: []
      x-internal: false
    parameters: []
components:
  schemas: {}
  securitySchemes:
    api_key:
      name: api_key
      type: apiKey
      in: query
      description: api.cometrue.ai에서 발급받은 API key
  responses:
    ErrorResponse:
      description: 신분증 인식 및 OCR에 대한 Error Message
      content:
        application/json:
          schema:
            description: ''
            type: object
            properties:
              message:
                type: string
            required:
              - message
