openapi: 3.0.0
info:
  title: 신분증 진위확인
  version: '1.0'
  description: |-
    **서비스 소개**

    컴트루테크놀로지의 신분증 진위확인 서비스 입니다.<br>
    국내에서 사용되는 신분증에 대한 진위확인을 수행합니다.

    **서비스 특징**

    신분증 정보를 바탕으로 진위확인 기관으로부터 받은 진위여부 (일치/불일치)를 제공합니다.<br>
    고객확인제도 (KYC), 자금세탁방지(AML)로 활용이 가능합니다.
  contact:
    email: ask@comtrue.com
    url: 'https://cometrue.ai'
    name: cometrue.ai AI API
  termsOfService: 'https://cometrue.ai/index.php/ai-api-terms-of-service/'
servers:
  - description: Cometrue
    url: 'https://api.cometrue.ai'
paths:
  /api/v1/jumin/_ocr:
    post:
      summary: 주민등록증 OCR (내부api)
      operationId: post-juminocr
      responses:
        '200':
          description: |-
            OK

            정상응답
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  name:
                    type: string
                    minLength: 1
                    description: 성명
                  number:
                    type: array
                    description: 주민등록번호
                    minItems: 2
                    maxItems: 2
                    items:
                      type: string
                      minLength: 2
                      maxLength: 2
                  issue_date:
                    type: string
                    minLength: 1
                    description: |-
                      발급일자

                      ex) `19700101`
                required:
                  - name
                  - number
                  - issue_date
              examples:
                주민등록증:
                  value:
                    name: 홍길동
                    number:
                      - '123456'
                      - '1234567'
                    issue_date: '20090813'
        '400':
          $ref: '#/components/responses/400'
        '401':
          description: |-
            Unauthorized

            허가되지 않은 사용자의 접근
        '409':
          $ref: '#/components/responses/409'
        '500':
          description: |-
            Internal Server Error

            서버가 유지보수 중이거나 응답할 수 없는 상태
      description: 신분증을 인식 후 진위 확인에 필요한 텍스트를 추출합니다.
      parameters:
        - schema:
            type: string
            example: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2Njk3ODI4MzgsImxpY2Vuc2UiOiJiODU1Yzc....
          in: header
          name: Authorization
          description: 계정 인증을 통해 발급 받은 Access token
          required: true
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                image:
                  type: string
                  minLength: 1
                  description: |-
                    이미지를 base64로 인코딩 한 스트링

                    지원포맷: jpg(jpeg), png, tif(tiff), bmp
              required:
                - image
            examples:
              Base64 Example:
                value:
                  image: iVBORw0KGgoAAAANSUhEUgAACbEAAA2zCAYAAADce6KLAAAA....
        description: ''
      security: []
    parameters: []
  /api/v1/driver/_ocr:
    post:
      summary: 운전면허증 OCR (내부api)
      operationId: post-driverocr
      responses:
        '200':
          description: |-
            OK

            정상응답
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  name:
                    type: string
                    minLength: 1
                    description: 성명
                  birthday:
                    type: array
                    minItems: 3
                    description: '생년월일 `[년, 월, 일]`'
                    maxItems: 3
                    items:
                      type: string
                      description: 년 월 일
                  number:
                    type: array
                    minItems: 4
                    maxItems: 4
                    description: 운전면허번호
                    items:
                      type: string
                  code:
                    type: string
                    minLength: 1
                    description: 식별번호
                required:
                  - name
                  - birthday
                  - number
                  - code
              examples:
                운전면허증:
                  value:
                    name: 고길동
                    birthday:
                      - '1999'
                      - '12'
                      - '25'
                    number:
                      - '12'
                      - '34'
                      - '567891'
                      - '01'
                    code: deuors
        '400':
          $ref: '#/components/responses/400'
        '401':
          description: |-
            Unauthorized

            허가되지 않은 사용자의 접근
        '409':
          $ref: '#/components/responses/409'
        '500':
          description: |-
            Internal Server Error

            서버가 유지보수 중이거나 응답할 수 없는 상태
      description: 운전면허증을 인식 후 진위 확인에 필요한 텍스트를 추출합니다.
      parameters:
        - schema:
            type: string
            example: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2Njk3ODI4MzgsImxpY2Vuc2UiOiJiODU1Yzc....
          in: header
          name: Authorization
          description: 계정 인증을 통해 발급 받은 Access token
          required: true
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                image:
                  type: string
                  minLength: 1
                  description: |-
                    이미지를 base64로 인코딩 한 스트링

                    지원포맷: jpg(jpeg), png, tif(tiff), bmp
              required:
                - image
            examples:
              Base64 Example:
                value:
                  image: iVBORw0KGgoAAAANSUhEUgAACbEAAA2zCAYAAADce6KLAAAA....
        description: ''
      security: []
    parameters: []
  /api/v1/alien/_ocr:
    post:
      summary: 외국인등록증 OCR (내부api)
      operationId: post-alienocr
      responses:
        '200':
          description: |-
            OK

            정상응답
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  number:
                    type: array
                    description: 외국인 등록번호
                    minItems: 2
                    maxItems: 2
                    items:
                      type: string
                  issue_date:
                    type: string
                    minLength: 1
                    description: |-
                      발급일자

                      ex) `19700101`
                required:
                  - number
                  - issue_date
              examples:
                외국인 등록증:
                  value:
                    number:
                      - '123456'
                      - '1234567'
                    issue_date: '20110101'
        '400':
          $ref: '#/components/responses/400'
        '401':
          description: |-
            Unauthorized

            허가되지 않은 사용자의 접근
        '409':
          $ref: '#/components/responses/409'
        '500':
          description: |-
            Internal Server Error

            서버가 유지보수 중이거나 응답할 수 없는 상태
      description: 외국인등록증을 인식후 진위 확인에 필요한 텍스트를 추출합니다.
      parameters:
        - schema:
            type: string
            example: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2Njk3ODI4MzgsImxpY2Vuc2UiOiJiODU1Yzc....
          in: header
          name: Authorization
          description: 계정 인증을 통해 발급 받은 Access token
          required: true
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                image:
                  type: string
                  minLength: 1
                  description: |-
                    이미지를 base64로 인코딩 한 스트링

                    지원포맷: jpg(jpeg), png, tif(tiff), bmp, gif
              required:
                - image
            examples:
              Base64 Example:
                value:
                  image: iVBORw0KGgoAAAANSUhEUgAACbEAAA2zCAYAAADce6KLAAAA....
        description: ''
      security: []
    parameters: []
  /api/v1/driver/verify:
    post:
      summary: 운전면허증 진위확인
      operationId: post-driververify
      responses:
        '200':
          description: |-
            OK

            정상응답
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  verified:
                    type: boolean
                    description: 검증결과
                required:
                  - verified
              examples:
                검증:
                  value:
                    verified: false
        '400':
          description: |
            Bad Request

            사용자가 키를 잘못 입력하였거나, 값에 문제가 있을때
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  error:
                    type: string
                    minLength: 1
                required:
                  - error
              examples: {}
        '401':
          description: |-
            Unauthorized

            허가되지 않은 사용자의 접근
        '409':
          description: |-
            Conflict

            서버에서의 처리 중 에러

            <details markdown="1">
            <summary>에러메세지</summary>
            "wrong driver name": 잘못된 이름<br/>
            "wrong driver number": 잘못된 운전면허 번호<br>
            "wrong driver birthday": 잘못된 생년월일<br>
            "wrong driver code": 잘못된 운전면허증 식별코드<br>
            </details>
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  error:
                    type: string
                    minLength: 1
                required:
                  - error
                x-examples:
                  example-1:
                    error: 'validate: wrong driver number'
              examples:
                wrong driver number:
                  value:
                    error: 'validate: wrong driver number'
                wrong driver name:
                  value:
                    error: 'validate: wrong driver name'
                wrong driver birthday:
                  value:
                    error: 'validate: wrong driver birthday'
                wrong driver code:
                  value:
                    error: 'validate: wrong driver code'
        '500':
          description: |-
            Internal Server Error

            서버가 유지보수 중이거나 응답할 수 없는 상태
      description: 운전면허증 정보를 바탕으로 진위확인 기관으로부터 받은 진위여부 (일치/불일치)를 제공합니다.
      parameters:
        - schema:
            type: string
            example: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2Njk3ODI4MzgsImxpY2Vuc2UiOiJiODU1Yzc....
          in: header
          name: Authorization
          description: 계정 인증을 통해 발급 받은 Access token
          required: true
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                idcard:
                  type: object
                  required:
                    - name
                    - birthday
                    - number
                    - code
                  properties:
                    name:
                      type: string
                      minLength: 1
                      description: 성명
                    birthday:
                      type: array
                      minItems: 3
                      description: '생년월일 `[년, 월, 일]`'
                      maxItems: 3
                      items:
                        type: string
                    number:
                      type: array
                      minItems: 4
                      maxItems: 4
                      description: 운전면허번호
                      items:
                        type: string
                    code:
                      type: string
                      minLength: 1
                      description: 식별코드
              required:
                - idcard
            examples:
              운전면허증 검증:
                value:
                  idcard:
                    name: 홍길동
                    birthday:
                      - '1990'
                      - '02'
                      - '16'
                    number:
                      - '12'
                      - '34'
                      - '567890'
                      - '12'
                    code: 7w6gen
        description: ''
      security: []
    parameters: []
  /api/v1/jumin/verify:
    post:
      summary: 주민등록증 진위확인
      operationId: post-juminrverify
      responses:
        '200':
          description: |-
            OK

            정상응답
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  verified:
                    type: boolean
                    description: 검증결과
                required:
                  - verified
              examples:
                검증:
                  value:
                    verified: false
        '400':
          description: |
            Bad Request

            사용자가 키를 잘못 입력하였거나, 값에 문제가 있을때

            <details markdown="1">
            <summary>에러메세지</summary>
            "incorrect certificates cert data": 잘못된 공인인증서 파일<br>
            "incorrect certificates key data": 잘못된 공인인증서 파일<br>
            </details>
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  error:
                    type: string
                    minLength: 1
                required:
                  - error
              examples:
                incorrect certificates key data:
                  value:
                    error: incorrect certificates key data
                incorrect certificates cert data:
                  value:
                    error: incorrect certificates cert data
        '401':
          description: |-
            Unauthorized

            허가되지 않은 사용자의 접근
        '409':
          description: |-
            Conflict

            서버에서의 처리 중 에러

            <details markdown="1">
            <summary>에러메세지</summary>
            "wrong registration name": 잘못된 이름<br>
            "wrong registration issue date": 잘못된 주민등록증 발급일자<br>
            </details>
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  error:
                    type: string
                    minLength: 1
                required:
                  - error
                x-examples:
                  example-1:
                    error: 'validate: wrong driver number'
              examples:
                wrong registration name:
                  value:
                    error: 'validate: wrong registration name'
                wrong registration issue date:
                  value:
                    error: 'validate: wrong registration issue date'
        '500':
          description: |-
            Internal Server Error

            서버가 유지보수 중이거나 응답할 수 없는 상태
      description: 주민등록증 정보를 바탕으로 진위확인 기관으로부터 받은 진위여부 (일치/불일치)를 제공합니다.
      parameters:
        - schema:
            type: string
            example: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2Njk3ODI4MzgsImxpY2Vuc2UiOiJiODU1Yzc....
          in: header
          name: Authorization
          description: 계정 인증을 통해 발급 받은 Access token
          required: true
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                certs:
                  type: object
                  required:
                    - name
                    - number
                    - key
                    - cert
                    - password
                  properties:
                    name:
                      type: string
                      description: 성명
                    number:
                      type: array
                      minItems: 2
                      description: 공동인증서 주민등록번호
                      maxItems: 2
                      items:
                        type: string
                    key:
                      type: string
                      description: 공동인증서 .key파일을 base64로 인코딩한 문자열
                    cert:
                      type: string
                      description: 공동인증서 .cert 혹은 .der 파일을 base64로 인코딩한 문자열
                    password:
                      type: string
                      description: 공동인증서 비밀번호
                idcard:
                  type: object
                  required:
                    - name
                    - number
                  properties:
                    name:
                      type: string
                      minLength: 1
                      description: 성명
                    number:
                      type: array
                      maxItems: 2
                      description: 주민등록번호
                      minItems: 2
                      items:
                        type: string
                    issue_date:
                      type: string
                      description: 발급일자
                      example: '19700101'
              required:
                - certs
                - idcard
            examples:
              주민등록증 검증:
                value:
                  certs:
                    name: ''
                    number:
                      - '111111'
                      - '2111111'
                    key: .key (base64)
                    cert: .cert or .der (base64)
                    password: ''
                  idcard:
                    name: 홍길동
                    number:
                      - '111111'
                      - '2111111'
                    issue_date: '20100101'
        description: ''
      security: []
    parameters: []
  /api/v1/alien/verify:
    post:
      summary: 외국인등록증 진위확인
      operationId: post-alienverify
      responses:
        '200':
          description: |-
            OK

            정상응답
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  verified:
                    type: boolean
                    description: 검증결과
                required:
                  - verified
              examples:
                검증:
                  value:
                    verified: false
        '400':
          $ref: '#/components/responses/400'
        '401':
          description: |-
            Unauthorized

            허가되지 않은 사용자의 접근
        '409':
          $ref: '#/components/responses/409'
        '500':
          description: |-
            Internal Server Error

            서버가 유지보수 중이거나 응답할 수 없는 상태
      description: 외국인등록증 정보를 바탕으로 진위확인 기관으로부터 받은 진위여부 (일치/불일치)를 제공합니다.
      parameters:
        - schema:
            type: string
            example: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2Njk3ODI4MzgsImxpY2Vuc2UiOiJiODU1Yzc....
          in: header
          name: Authorization
          description: 계정 인증을 통해 발급 받은 Access token
          required: true
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                certs:
                  type: object
                  required:
                    - name
                    - number
                    - key
                    - cert
                    - password
                  properties:
                    name:
                      type: string
                      description: 성명
                    number:
                      type: array
                      minItems: 2
                      description: 공동인증서 외국인등록번호
                      maxItems: 2
                      items:
                        type: string
                    key:
                      type: string
                      description: 공동인증서 .key파일을 base64로 인코딩한 문자열
                    cert:
                      type: string
                      description: 공동인증서 .cert 혹은 .der 파일을 base64로 인코딩한 문자열
                    password:
                      type: string
                      description: 공동인증서 비밀번호
                idcard:
                  type: object
                  required:
                    - number
                    - issue_date
                  properties:
                    number:
                      type: array
                      minItems: 2
                      description: 외국인 등록번호
                      maxItems: 2
                      items:
                        type: string
                    issue_date:
                      type: string
                      description: 발급일자
                      example: '19700101'
              required:
                - certs
                - idcard
            examples:
              외국인 등록증검증:
                value:
                  certs:
                    name: ''
                    number:
                      - '111111'
                      - '2111111'
                    key: .key (base64)
                    cert: .cert or .der (base64)
                    password: ''
                  idcard:
                    number:
                      - '111111'
                      - '211111'
                    issue_date: '20100101'
        description: ''
      security: []
    parameters: []
components:
  schemas: {}
  securitySchemes: {}
  responses:
    '400':
      description: |
        Bad Request

        사용자가 키를 잘못 입력하였거나, 값에 문제가 있을때

        <details markdown="1">
        <summary>에러메세지</summary>
        "not supported idcard type": 지원하지 않는 신분증 형식<br>
        "incorrect certificates cert data": 잘못된 공인인증서 파일<br>
        "incorrect certificates key data": 잘못된 공인인증서 파일<br>
        "wrong registration name": 잘못된 이름(주민등록증)<br>
        "wrong registration issue date": 잘못된 주민등록증 발급일자<br>
        "wrong driver name": 잘못된 이름(운전면허증)<br/>
        "wrong driver number": 잘못된 운전면허 번호<br>
        "wrong driver birthday": 잘못된 생년월일(운전면허증)<br>
        "wrong driver code": 잘못된 운전면허증 식별코드<br>
        </details>
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
          examples:
            not supported idcard type:
              value:
                error: not supported idcard type
            incorrect certificates cert:
              value:
                error: incorrect certificates cert data
            incorrect certificates key:
              value:
                error: incorrect certificates key data
